@charset "UTF-8";

:root {

    --cor:  #506ee5;
}

* {
    margin: 0px;
    padding: 0px;

}

@media screen and (max-width: 600px) {

    header {
        display: flex;
        flex-direction: column;
    }


    header > h1 {
        text-align: center;
        background-color: black;
        color: white;
        padding: 30px;
    }

    header > i {
        font-size: larger;
        color: white;
        background-color: var(--cor);
        width: 100vw;
        margin: auto;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
    }



    menu > ul {
        list-style-type: none;
        /*aqui tambem tem uma borda de um px*/

    }

    menu > ul > li {
        /*tem uma borda aqui para se localizar melhor*/
        padding: 10px;
        background-color: var(--cor);
        
    }

    menu > ul > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
        display: block;
        text-align: center;
        background-color: blanchedalmond;
        /*aqui tem uma borda tambem*/
        border-radius: 10px;
        text-decoration: none;
        font-size: larger;
        
        
    }

    menu > ul > li > a:hover {
        background-color: rgba(127, 255, 212, 0.159);
        color: white;
    }

    menu {
        display: none;
    }

    main {
        width: 100vw;
        height: 550px;
        /*aqui tem um border para localizar o main*/
        margin: auto;
    }

    main {
        display: flex;
    }


    main > section {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }


    /*aqui tem codigo para se localizar com as divs
    
    main > section > div.ntp {
        border: 1px solid black;

    */



    main > section > div.ntp > p {
        padding-top: 20px;
        text-align: center;
    }

    main> section > div.ntp > p > a {
        text-decoration: none;
    }

    main > section#nt-principal > div.ntp a > img {
        width: 89vw;
        display: block;
        margin: auto;
        border-radius: 10px;
    }

}