@charset "UTF-8";

:root {

    --cor:  #506ee5;
}

* {
    margin: 0px;
    padding: 0px;

}

@media screen and (max-width: 600px) {

    header {
        display: flex;
        flex-direction: column;
    }


    header > h1 {
        text-align: center;
        background-color: black;
        color: white;
        padding: 30px;
    }

    header > i {
        font-size: larger;
        color: white;
        background-color: var(--cor);
        width: 100vw;
        margin: auto;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
    }



    menu > ul {
        list-style-type: none;
        /*aqui tambem tem uma borda de um px*/

    }

    menu > ul > li {
        /*tem uma borda aqui para se localizar melhor*/
        padding: 10px;
        background-color: var(--cor);
        
    }

    menu > ul > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
        display: block;
        text-align: center;
        background-color: blanchedalmond;
        /*aqui tem uma borda tambem*/
        border-radius: 10px;
        text-decoration: none;
                
        
    }

    menu > ul > li > a#geek::after {
        content: '\00A0\2B50';
    }

    menu > ul > li > a#nacional::after {
        content: '\00A0\1F303';
    }

    menu > ul > li > a#internacional::after {
        content: '\00A0\1F5FA';
    }

    menu > ul > li > a:hover {
        background-color: rgba(127, 255, 212, 0.159);
        color: white;
    }

    menu {
        display: none;
    }

    main {
        width: 100vw;
        height: 530px;
        /*aqui tem um border para localizar o main*/
        margin: auto;
    }

    main {
        display: flex;
    }


    main > section#nt-principal {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }


    /*aqui tem codigo para se localizar com as divs
    
    main > section#nt-principal > div.ntp {
        border: 1px solid black;

    */

    main > section#nt-principal > div.ntp {
        /*aqui tem uma borda de um pix solid, para localizar as divs*/
        padding-top: 10px;
        margin-bottom: 20px;
    }



    main > section > div.ntp > p {
        padding-top: 20px;
        text-align: center;
    }

    main> section > div.ntp > p > a {
        text-decoration: none;
    }

    main > section#nt-principal > div.ntp a > img {
        width: 89vw;
        display: block;
        margin: auto;
        border-radius: 10px;
    }

}

@media screen and (min-width: 601px) and (max-width: 768px) {

    header > h1 {
        background-color: black;
        padding: 30px; 
        color: white;
        text-align: center;

    }


    header > i#icone {
        display: none;
    }

    menu {
        background-color: var(--cor);
        padding: 10px;
    }

    menu > ul {
    list-style-type: none;
    display: flex;
    }

    menu > ul > li > a  {
        background-color: rgba(255, 235, 205, 0.668);
        border: 1px solid black;
        border-radius: 10px;
        margin: auto;
        padding: 5px;
        margin-right: 10px;
    }

   
    menu > ul > li > a {
        text-decoration: none;
    }

    menu > ul > li > a:hover {
        background-color: var(--cor);
        color: white;
    }



   a#geek::after {
    content: '\00A0\2B50';
   }

   a#nacional::after {
    content: '\00A0\1F303';
   }

   a#internacional::after {
    content: '\00A0\1F5FA';
   }


    main {
        width: 89vw;
        /*aqui tem uma border de um px solid*/
        margin: auto;
    }


    section#nt-principal {
        /*aqui tem um border solid para localizar o section*/
        padding: 10px;
        height: 800px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    section#nt-principal > div.ntp {
        /*aqui tem uma border solid black*/
        margin-bottom: 20px;
    }

    main > section#nt-principal > div.ntp > a > img {
        width: 80vw;
        display: block;
        margin: auto;
        border-radius: 10px;
    }

    main > section#nt-principal > div.ntp > p > a {
        text-decoration: none;
    }

    main > section#nt-principal > div.ntp > p {
        text-align: center;
        padding: 10px;
    }

}